[client]
port	= 3306
socket	= /tmp/mysql.sock

[mysqld]

port	= 3306

socket	= /tmp/mysql.sock

#skip-locking

ndbcluster # run NDB storage engine
ndb-connectstring=MGM_NODE # location of management server

[mysql_cluster]

ndb-connectstring=MGM_NODE # location of management server
