---
 - name: Make sure docker is running
   service:
     name: docker
     state: restarted

 - name: Launching app server

   environment:
     http_proxy: http://carol_pereira:August23Vm@hjproxy.persistent.co.in:8080
     https_proxy: https://carol_pereira:August23Vm@hjproxy.persistent.co.in:8080

   docker:
     name: '{{ app }}'
     image: '{{image_name}}'
     pull: always
     state: started
     tty: yes
     stdin_open: yes
     command: "/bin/bash"
     ports: 
      - '{{tcp_port_no}}'
      - '{{ssh_port_no}}'
     expose: 
      - 80
      - 22

 - name: Launching db server
   docker:
     image: '{{image_name}}'
     name: '{{ db }}'
     pull: always
     command: "/bin/bash"
     state: started
     tty: yes
     stdin_open: yes

 - name: Launching staging server
   docker:
     image: '{{image_name}}'
     name: '{{stage}}'
     pull: always
     command: "/bin/bash"
     state: started
     tty: yes
     stdin_open: yes

 - name: Transfering web server related config files
   copy: src=scripts/script.sh dest=/var/tmp/script.sh owner=root group=root mode=0777

 - name: Transfering database server related config files
   copy: src=scripts/db.sh dest=/var/tmp/db.sh owner=root group=root mode=0777

 - name: Transfering test environment related config files
   copy: src=scripts/selenium.sh dest=/var/tmp/selenium.sh owner=root group=root mode=0777

 - name: Configuring web app server
   script: docker.sh '{{ app }}' '{{ db }}'

 - name: Configuring database server
   script: docker_for_db.sh '{{ db }}'

 - name: Configuring stagin server
   script: docker_selenium.sh '{{ stage }}'



